body {
  color:beige;
  background-color: #111111;
}

body {
  font-family: 'Manrope', sans-serif;
}

#window {
  max-width: 800px;
  object-fit: contain;

  background-color: #333333;
  border: 1px solid #333333;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

a {
  color: beige;
}

a:hover {
  color: gold;
}
